<h1 class="text-center" style="background-color:azure ;">˜”*°•.˜”*°• 𝐖𝐞𝐥𝐜𝐨𝐦𝐞 𝐭𝐨 𝐅𝐫𝐚𝐧𝐜𝐡𝐢𝐬𝐞 𝐂𝐫𝐢𝐜𝐤𝐞𝐭 •°*”˜.•°*”˜</h1>
<h2 class="text-center" style="color: white" >𝘾𝙍𝙀𝘼𝙏𝙀 𝙏𝙀𝘼𝙈</h2>

<div class="container col-md-6">
<form (ngSubmit)="createTeam()">
    <div class="form-group">
        <small class="text-danger">{{msg}}</small>
      <label for="TeamName" style="color: white">𝗧𝗲𝗮𝗺 𝗡𝗮𝗺𝗲 :</label>
      <input type="text" class="form-control" id="TeamName"  placeholder="Enter Team Name" name="TeamName"
       [(ngModel)]="team.teamName" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="TeamBudget"style="color: white">𝗧𝗲𝗮𝗺 𝗕𝘂𝗱𝗴𝗲𝘁 :</label>
      <input type="number" class="form-control" id="TeamBudget" placeholder="Team Budget" name ="TeamBudget"
      [(ngModel)]="team.teamMaxBudget" [ngModelOptions]="{standalone: true}">
    </div>
    <br>
    <div class="text-center">
    <button type="submit" class="btn btn-primary">𝗖𝗿𝗲𝗮𝘁𝗲 𝗧𝗲𝗮𝗺</button></div>
  </form>
</div>